
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<nav id="menu">
  <ul>
    <li><a routerLink="/">Index</a></li>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/tecnologia">Tecnologias</a></li>
    <li><a routerLink="/vaga">Vagas</a></li>
    <li><a routerLink="/candidato">Candidatos</a></li>
    <li><a routerLink="/entrevista">Entrevistas</a></li>
    <li><a routerLink="/about/13">About</a></li>
    <li></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
